/* add css module styles here (optional) */
:root {
  box-sizing: border-box;
}

.btn {
  border: 1px solid;
  margin-right: 10px;
  background-color: white;
  color: black;
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  width: 140px;
  border-radius: 6px;
}
.primary {
  color: white;
  background-color: #007bff;
}
.dashed {
  border: 1px dashed;
}
.text {
  border: none;
  background-color: transparent;
}
.link {
  color: blue;
  background-color: transparent;
  border: none;
}

.red {
  border: 2px solid red;
}
.dashed.red {
  border: 2px dashed red;
}
